.container {
  background-color: hsla(0, 0%, 0%, 0.8);
  color: white;
  margin-top: 10px;
}
.header {
  display: flex;
  justify-content: space-between;
}
.sectionTitle {
  padding: 5px;
  text-decoration: underline;
}
.job{
    padding-left: 3em;
    justify-content: center;
    max-width: 40%;
    text-align: left;
}