.container {
  background-color: hsla(0, 0%, 0%, 0.8);
  color: white;
  margin-top: 0px;
  padding: 5px;
  padding-right: 100px;
}
.subContainer {
  padding: 1em 0px 1.5em 0px;
}
.header {
  display: flex;
  justify-content: space-between;
  color: white !important;
}
.sectionTitle {
  padding: 5px;
  text-decoration: underline;
  margin-left: 35px;
  h1 {
    color: white;
  }
  vertical-align: middle;
  align-items: center;
  display: flex;
  text-shadow: none;
  :hover {
    opacity:0.8;
  }
}
.sectionIcon {
  margin-top: 5px;
  margin-left: 5px;
}
.white {
  color: white !important;
}
.job {
  padding-left: 3em;
  padding-right: 2em;
}
