.container {
  background-color: hsla(0, 0%, 0%, 0.8);
  color: white;
  margin-top: 0px;
  padding: 5px;
  padding-right: 100px;
}
.subContainer {
  max-width: 930px !important;
  padding: 1em 0px 1.5em 0px;
}
.header {
  display: flex;
  justify-content: space-between;
}
.sectionTitle {
  padding: 5px;
  text-decoration: underline;
}
.job {
  padding-left: 3em;
  padding-right: 2em;
}
