@mixin desktop1 {
  @media (max-width: 1024px) {
    @content;
  }
}

.navbar {
  display: flex;
  @include desktop1 {
    display: block;
  }
}
.logo {
  max-height: 75px !important;
  @include desktop1 {
    max-height: 50px !important;
  }
  margin-bottom: 0px;
}
