.container {
  display: flex;
  align-items: center;
  vertical-align: middle;
}
.heroText {
  color: red;
  height: 100%;
  align-items: center;
}
.heroImage {
  justify-content: center;
  margin: auto 0px ;
}
