@mixin md {
  @media (max-width: 750px) {
    @content;
  }
}
@mixin lg {
  @media (max-width: 1051px) {
    @content;
  }
}
.section {
  color: black;
  background-color: rgba(210, 209, 209, 0.8);
}
.container {
  display: grid;
}
.card {
  width: 300px !important;
  height: 400px !important;
  border: 1px solid lightgray;
  border-radius: 5px;
  -webkit-box-shadow: 6px 8px 11px -9px #000000;
  box-shadow: 6px 8px 11px -9px #000000;
  @include md {
    height: 250px !important;
    width: 250px !important;
  }
}
.cardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  @include md {
    justify-content: space-around;
    flex-wrap: nowrap;
    flex-direction: column;
  }
}
.cardContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em !important;
}
.figure {
  text-align: center;
  max-height: 150px;
}
.title {
  color: #4a4a4a;
  text-decoration: underline;
  padding: 0.5em 0px;
  margin-bottom: 0px !important;
  margin-left: 50px;
}
.img {
  max-height: 150px;
}
.button {
  max-width: 150px;
}
.link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;
}

.ProductCard {
  transition: all 0.2s ease-in-out;
  :hover {
    transform: scale(1.02);
  }
}
